<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body style="text-align:center" background="https://i.ytimg.com/vi/TyauNrbnmVo/maxresdefault.jpg">
    <div style="width:400px; margin:0 auto;">
        <!-- input -->
        <form method="POST">
            Cari Pokemon:<br>
            <input type="text" name="cari"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <br>
    <img src="http://pluspng.com/img-png/pokemon-logo-png-pokemon-logo-png-2000.png" alt="Image" width="800" height="300">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>